$background-light: #fcebd5;
$background-normal: #edd5bb;
$background-dark: #e09686;
$background-gray: #e5e5e5;

$primary-green: #1bac6f;
$primary-contrast: #d44c2e;
$primary-blue: #1b59ac;

$primary-default: #a16a5e;
$primary-blue-disabled: #7287a28c;

$text-white: #f8f8f8;
$text-default: #5a5a5a;
$text-muted: #b9b9b9;

$brick-white: #ffffff65;
